version: '3'
services:
  application:
    image: maven
    working_dir: /usr/src/app
    volumes:
    - ./:/usr/src/app
    entrypoint: ["mvn", "exec:java"]
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - postgres-compose-network
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgresDocker/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
    networks:
      - postgres-compose-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "test@test.com"
      PGADMIN_DEFAULT_PASSWORD: "postgres"
    ports:
      - "16543:80"
    depends_on:
      - postgres
    networks:
      - postgres-compose-network


networks:
  postgres-compose-network:
    driver: bridge


